#weatherDisplayBox{
    width: 1200px;
    height: 200px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid blue;
    background-color: aliceblue;
}

img {
    display: none;
}



p{
    margin: 0px;
    padding: 0px;
}